<div class="article-post-contents">
  <%= render "shared/second-header"%>
  <div class="article-post-main">
    <h2 class="article-post-title">記事の情報を編集</h2>
    <%= form_with model:@article, url:article_path(@article.id), local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

    <%# 記事画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        イメージ画像
        <span class="indispensable">任意</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p> 
        <%= f.file_field :image, id:"article-image" %>
      </div>
    </div>
    <%# /記事画像 %>
    <%# 記事のタイトル、内容、URL %>
    <div class="new-article">
      <div class="weight-bold-text">
        記事タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"article-text", id:"article-name", placeholder:"例）スライス改善（必須 40文字まで)", maxlength:"40" %>
      <div class="article-explain">
        <div class="weight-bold-text">
          記事内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :content, class:"article-text", id:"article-info", placeholder:"例）*※*プロのレッスン動画です" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="article-url">
        <div class="weight-bold-text">
          動画、記事URL
          <span class="indispensable">任意</span>
        </div>
        <%= f.text_area :url, class:"article-text", id:"article-info", placeholder:"記事や動画のURLを貼り付けてください" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# 記事のタイトル、内容、URL %>

    <%# 記事の種類 %>
    <div class="article-detail">
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>
    <%# 記事の種類 %>

    <%# 注意書き %>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="post-btn-contents">
      <%= f.submit "変更する" ,class:"post-btn" %>
      <%=link_to 'もどる', article_path(@article.id), class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

<%= render "shared/footer" %>
</div>