<%= render "shared/header" %>

<div class="main">
 <div class="articles-box">
    <% @articles.each do |article| %>
      <div class="article-box">
        <% if article.image.attached? %>
        <div class='article-img-box'>
          <%= image_tag article.image, class: "article-img", size: '80x80' %>
        </div>
        <% else %>
        <div class='article-img-box'>
          <%= image_tag "no_image.jpeg", class: "article-img", size: '80x80' %>
        </div>
        <% end %>
        <div class='article-info'>
          <h2 class='article-title'><%= article.title %></h2>
          <div class='article-category'>
            カテゴリー：<%= article.category.name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>