<%= render "shared/header" %>

<div class="show-main">
  <div class="article-show-box">
    <div class="article-show-title">
      <h2 class='show-title-logo'>【<%= @article.title %>】</h2>
    </div>
    <div class='article-show-img'>
      <% if @article.image.attached? %>
        <%= image_tag @article.image, class: "show-img" %>
      <% else %>
        <%= image_tag "no_image.jpeg", class: "show-img" %>
      <% end %>
    </div>
    <div class="article-show-url">
     URL : <%= link_to "#{@article.url}", "#{@article.url}", method: :get, target:"_blank", rel:"noopener noreferrer" %>
    </div>
    <div class="article-show-contbox">
      <div class="weight-bold-text">
       記事内容
      </div>
      <div class="article-show-content">
        <%= @article.content %>
      </div>
    </div>
    <div class="show-info-boxs">
      <div class="show-page-info">
        <div class="show-info-box">
          <div class="show-info-column">ニックネーム</div>
          <div class="show-info-data"><%= @article.user.nickname%></div>
        </div>
        <div class="show-info-box">
          <div class="show-info-column">性別</div>
          <div class="show-info-data"> <%= @article.user.sex.name%></div>
        </div>
      </div>
      <% if @article.user.golfer.present? %>
      <div class="show-page-info">
        <div class="show-info-box">
          <div class="show-info-column">平均スコア</div>
          <div class="show-info-data"><%= @article.user.golfer.average_score.name %></div>
        </div>
        <div class="show-info-box">
          <div class="show-info-column">ゴルフ歴</div>
          <div class="show-info-data"> <%= @article.user.golfer.golf_history.name %></div>
        </div>
      </div>
      <% else %>
      <div class="show-page-info">
        <div class="show-info-box">
          <div class="show-info-column">ニックネーム</div>
          <div class="show-info-data"><%= @article.user.nickname%></div>
        </div>
        <div class="show-info-box">
          <div class="show-info-column">年齢【歳】</div>
          <div class="show-info-data"> <%= @article.user.age%></div>
        </div>
      </div>
      <% end %>
    </div>
     <% if user_signed_in? && current_user.id == @article.user_id %>
        <%= link_to "記事の編集", edit_article_path(@article.id), method: :get, class: "article-edit-btn" %>
        <%= link_to "記事の削除", article_path(@article.id), method: :delete, class:"article-destroy" %>
    <% end %>

    <div class="favor-box">
    よかったら”いいね”してください！
    <%= render partial:"favors/favor" , locals: { article: @article }%>
    </div>
    
      <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@article, @comment],id: "comment-form", local: true) do |form| %>
        <%= form.text_area :comment, placeholder: "コメントする", class: "comment-text", rows: "2" %>
        <%= form.submit "SEND", class: "comment-submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    <div class="comments", id="comments">
      <h2>＜コメント一覧＞</h2>
      <% @comments.each do |comment| %>
      <div class="comment-box",>
          <%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：<%= comment.comment %>
      </div>
      <% end %>
    </div>
    </div>
  </div>

</div>

<%= render "shared/footer" %>