<header class="header">
  <div class="header-back">
    <%= image_tag "golf-bg.jpg", class:"header-photo" %>
      <div class="title">
        <%= link_to root_path do %>
        <div class="title-logo">GoalF</div>
        <div class="subtitle-logo">〜あなたに合ったゴルフ理論をシェア！〜</div>
        <% end %>
      </div>
  </div>

  <div class="sign-in-box">
      <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.nickname} 様", user_path(current_user.id), class: "user-nickname"%></li>
        <li><%= link_to '新規投稿', new_article_path, class: "new_article"%></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
        <li><%= link_to 'ゴルフ場検索', rakuten_search_path, class: "course-search" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>